//---------------------------------------------------------------------------
//
// Name:        Sands Of Destruction Text EditorApp.rc
// Author:      Vash
// Created:     15/01/2010 20:30:12
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>

