//---------------------------------------------------------------------------
//
// Name:        Tales_Of_Legendia_Text_EditorApp.rc
// Author:      Vash
// Created:     10/05/10 11.58.41
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
